body{
    line-height: 1.4;
    color: #444;
    font-family: -apple-system, 'BlinkMacSystemFont', Helvetica, Roboto, Sans-Serif;
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    background: #ddd;
}
p{
    margin:0;
}
:focus{
    outline: none;
}
.flex-component,
.flex-block{
    transition: box-shadow 0.1s ease-out;
}
.flex-selected>.flex-component,
.flex-hover>.flex-component,
/*.flex-component:hover,*/
.flex-selected>.flex-block{
    box-shadow: inset 0 0 0 2px #49b7aea1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    list-style: none;
}
.flex-editor-container{
    background: linear-gradient(90deg, white 34px, transparent 1%) center, linear-gradient(white 34px, transparent 1%) center, #d2d2d2;
    background-size: 36px 36px;
    text-align: center;
}
.flex-editor-container.json-mode{
    min-height: 0;
}
.flex-editor-simulator{
    height: calc(100vh - 60px);
    overflow: scroll;
}
#flex-editor-code-editor{
    width: 100%;
    height: calc(100vh - 60px);
    font-size: 16px;
    position: absolute;
    top: 60px;
    z-index: 999999;
}

#root {
    max-width: 970px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(132,146,166,.25)!important;
    border: 1px solid #ddd;
}